# Project exclude paths
/out/
/chapter3/.idea/.gitignore
/chapter3/out/production/chapter3/HelloJack.class
/chapter3/out/production/chapter3/HelloWorld.class
/.idea/java-the-complete-java-developer-course.iml
/.idea/misc.xml
/chapter3/.idea/misc.xml
/.idea/modules.xml
/chapter3/.idea/modules.xml
/.idea/uiDesigner.xml
/chapter3/out/production/chapter3/variables.class
/chapter3/out/production/chapter3/variables_challenge.class
/.idea/vcs.xml
/.idea/workspace.xml
/chapter4/chapter4.iml
/chapter5/chapter5.iml
/.idea/codeStyles/codeStyleConfig.xml
